# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Cache
.cache/
.pytest_cache/

# Model weights and datasets
trained_models/
/weights/
/datasets/
*.pth
*.pt
*.ckpt

# Logs
logs/
*.log

# Local configs
.mini_models.yaml
